@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}

body {
    background-color: rgb(30, 30, 30);
    height: 100vh;
    overflow: hidden;


}

main {
    position: relative;
}

.spinner-box {

    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    background-color: transparent;
}

.spinner-box span {
    font-size: 25px;
}

.loading {
    background-color: rgb(30, 30, 30);
    width: 100%;
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 100;
    bottom: 0;
    animation: hideLoading 0.9s cubic-bezier(.93, .4, .47, .69) 3s forwards;
}


.pulse-container {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.pulse-bubble {
    width: 10px;
    height: 10px;
    background-color: white;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}


@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}


@keyframes hideLoading {
    from {
        height: 100%;
        /* opacity: 1; */
        transform: translateY(0);
    }

    to {
        /* opacity: 0; */
        height: 0;
        z-index: -1;
        transform: translateY(100px);

    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.top {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid white;
    padding: 1.5rem;
    gap: 30px;
    height: 20%;
}

.input-div {
    gap: 20px;
    display: flex;
    flex-direction: column;
    min-width: 260px;
    position: relative;
    justify-content: end;
    height: 100%;

}

label {
    color: rgb(231, 231, 231);
    font-size: 25px;
}

.options {
    min-height: 55px;
    position: relative;
    padding-block: 1rem;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.7rem;

}

.other-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -70%;
}

span {

    color: rgb(231, 231, 231);
}

.icon {
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid white; */
    height: 100%;
    position: absolute;
    right: 0;
    width: 40%;
}

.icon img {
    cursor: pointer;
    padding: 1rem;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
    width: 50%;
    height: 100%;
    transition: all 100ms ease-in-out;
}

.icon img:hover {
    background-color: white;
}

.icon :nth-child(2) {
    transform: rotate(180deg);
}

.bottom {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
    border: 3px solid white;
    padding: 1.5rem;
    padding-bottom: 0;
    height: 80%;
}

.col {
    width: 10px;
    border: 0.09px solid black;
    border-bottom: 0;
    background-color: white;
}

.current {
    background-color: green;
}

.next {
    background-color: red;
}

.sort_algo {
    transform: translateX(70px);
    opacity: 0;
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-in {
    from {
        transform: translateX(70px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.action {
    cursor: pointer;
}

.disable-div {
    pointer-events: none;
}

.action.disable-div {
    opacity: 0.4;
}

.input-div:last-child .options {
    max-width: 100px;
}

input[type="range"]{
    width: 100%;
}


/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #616161;
    height: .4rem;
    width: 100%;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #616161;
    height: .4rem;
    width: 100%;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #505050;
    margin-top:  -5px;
    width: 100%;

}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #505050;
    margin-top:  -5px;
    width: 100%;
}